p {
    color: green;
  }
  
  div.warning {
    width: 100%;
    border: 2px solid yellow;
    color: white;
    background-color: darkred;
    padding: 0.8em 0.8em 0.6em;
  }
  
  #customized {
    font:
      16px Lucida Grande,
      Arial,
      Helvetica,
      sans-serif;
  }